.transparent {
  background: rgb(38, 82, 140);
  background: linear-gradient(
    90deg,
    rgba(38, 82, 140, 0.45) 0%,
    rgba(38, 82, 140, 0.4514180672268907) 35%,
    rgba(38, 82, 140, 0.4458158263305322) 100%
  );
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
